

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    height: '100%';
    background-image: linear-gradient(to bottom, rgba(215, 168, 172, 0.65), rgba(78, 19, 24, 0.95) );
    background-repeat: no-repeat;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.currentBets {
    font-family: 'Bungee', cursive;
    text-align: center;
    color: #9d2731;
}
.openButton {
    color: white;
    border-color: white;
    background-color: rgba(157, 39, 49, 0.0);
}

.inputLabel {
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.radioButton {
    margin-left: 16px;
}

.radioButton1 {
    margin-left: 180px;
}

.material-icons {
    position: absolute;
    right: 20px;
    padding-top: 10px;
    font-size: 36px;
}

.upArrow {
    float: right;
    padding-right: 10px;
}

.deleteButton {
    font-size: 15px;
    color: #9d2731;
    font-family: 'Allerta Stencil', sans-serif;
    border: solid rgba(255, 255, 255, 0.0) 1px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #444;
    background-color: rgba(255, 255, 255, 0.60);
    padding-left: 20px;
    padding-right: 20px;;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 32%;
    margin-right: 20%;
}
.alignBet {
    display: inline-flex;
}

.newBetButton {
    font-size: 15px;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    border: solid rgba(255, 255, 255, 0.0) 1px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #444;
    background-color: rgba(157, 39, 49, 0.51);
    padding-left: 20px;
    padding-right: 20px;;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 32%;
    margin-right: 20%;
}

.labelSelector {
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    font-size: 15px;
    margin-right: 20px;
    margin-left: 10px;
}

.inline {
    display: inline-flex
}

.selector {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Allerta Stencil', sans-serif;
    color: #9d2731;
    border: solid #9d2731 1px;
    background-color: rgba(255, 255, 255, 0.60);
}

.money {
    margin-left: 20px;
}
.time {
    margin-left: 20px;
}
.info {
    margin-right: 10px;
    margin-left: 20px;
}
.userName {
    font-family: 'Allerta Stencil', sans-serif;
    margin-left: 10%;
    color: #9d2731;
}
.profileName {
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    color: #9d2731;
}

.history {
    margin-top: 60px;
    margin-bottom: 0px;
    font-family: 'Allerta Stencil', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 35%;
    color: white;
    list-style-type: none;
    border: solid rgba(157, 39, 49, 0.0) 1px;
    background-color: rgba(157, 39, 49, 0.51);
    border-radius: 80px 80px 0px 0px;
}

.profileImage {
    height: 140px;
    width: 105px;
    border: solid white 1px;
    border-radius: 70px;
    margin-left: 35%
}

.newBet {
    font-family: 'Allerta Stencil', sans-serif;
    border: solid rgba(157, 39, 49, 0.0) 1px;
    background-color: rgba(157, 39, 49, 0.51);
    margin-bottom: 20px;
    margin-right: 60%;
    box-shadow: 2px 5px 5px #444;
    color: white;
}
.betItem {
    font-family: 'Allerta Stencil', sans-serif;
    border: solid rgba(157, 39, 49, 0.0) 1px;
    background-color: rgba(157, 39, 49, 0.51);
    margin-bottom: 20px;
    box-shadow: 2px 5px 5px #444;
    color: white;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
